<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link href="views/styles/menu_styles.css" rel="stylesheet">
        <script src="views//scripts/menu_script.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <p class="font-weight-bold text-muted mb-0"><?php echo $user->getNombre();  ?></p>
                    <p class="font-weight-bold text-muted mb-0"><?php echo $user->getApellidos();  ?></p>
                    <p class="font-weight-light text-muted mb-0">Administrador Banco</p>
                </div>
            </div>
            <a href="controllers/logout.php" class="nav-link text-dark font-italic">
                <i class="fa fa-user-times mr-3 text-primary fa-fw"></i>
                Cerrar sesion
            </a>
        </div>
        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Banco</p>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic bg-light">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Banco
                </a>
            </li>
            <li class="nav-item nav-link text-dark font-italic bg-light">
                <div class="dropdown">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li class="divider"></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
                <!--
                <a href="views/Enlistar/E-DonacionView.php" class="nav-link text-dark font-italic">
                    
                    Registro donaciones
                </a>
                <ul>
                    <li><a href="">Submenu1</a></li>
                    <li><a href="">Submenu2</a></li>
                    <li><a href="">Submenu3</a></li>
                    <li><a href="">Submenu4</a></li>
                </ul>-->
            </li>
            <li class="nav-item">
                <a href="views/cedulaDonante.html" class="nav-link text-dark font-italic">
                    <i class="fa fa-tint mr-3 text-primary fa-fw"></i>
                    Nueva donacion
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Informacion Administrador
                </a>
            </li>
        </ul>
        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Listados</p>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic">
                    <i class="fa fa-hospital-o mr-3 text-primary fa-fw"></i>
                    Proveedores
                </a>
            </li>
            <li class="nav-item">
                <a href="views/Enlistar/E-DonanteView.php" class="nav-link text-dark font-italic">
                    <i class="fa fa-heartbeat mr-3 text-primary fa-fw"></i>
                    Donantes
                </a>
                
            </li>
        </ul>
    </div>
    <!-- End vertical navbar -->
    <!-- Page content holder -->
    <div class="page-content p-5" id="content">
        
        <div class="page-header">
            <h1>Acerca de nosotros </h1>
        </div>
        <!-- Demo content -->
        <!-- Tab panes -->
        <div class="container">
            <br>
            <!-- Nav tabs -->
            <ul style="background-color:rgba(0, 123, 255, 0.1);"class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Informacion de interes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Cruz roja y el Banco de Sangre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Voluntariado </a>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                    <h3>Informacion de interes</h3>
                    <p>¿En dónde puedo donar mi sangre?
                        En las instalaciones del Banco Nacional de Sangre, Av. Cra. 68 # 68b – 31, de lunes a viernes de 8am a 6pm y
                        los sábados de 8am a 4pm. Adicionalmente, el Banco desarrolla Jornadas Voluntarias de
                    Sangre en Universidades, Empresas y Espacios Públicos..</p>
                    <img src="http://bucket1.glanacion.com/anexos/fotos/62/2472062.jpg" class="mx-auto d-block" style="width:50%">
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <h3>Cruz roja y el Banco de Sangre</h3>
                    <p>Bogotá, 01 de marzo 2018. En el marco de la gestión del conocimiento que viene
                        desarrollando el Banco Nacional de Sangre de la Cruz Roja Colombiana se realizan
                        capacitaciones para la formación del talento humano en actualización normativa con
                        el fin de que los profesionales de la salud estén articulados con la Red Distrital de
                    Salud y en especial con la Red de Bancos de Sangre Distrital.</p>
                    <img src="http://www.cruzrojacolombiana.org/sites/default/files/50%20annos%20banco%203.png" class="mx-auto d-block" style="width:50%">
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <h3>Voluntariado</h3>
                    <p>La sangre humana es un líquido vital que a pesar de los avances científicos no se puede fabricar, para obtenerla
                        es necesario extraerla de los seres humanos.
                        Nuestro banco tiene como objetivo proveer componentes sanguíneos a la población más
                        vulnerable, distribuyendo cerca del 20% de la sangre utilizada en Bogotá con los más altos estándares
                    de calidad y seguridad.</p>
                    <img src="https://eldiariodesalud.com/sites/default/files/inline-images/cruz-roja-colombiana-banco-virtual-sangre_0.jpg" class="mx-auto d-block" style="width:50%">
                </div>
            </div>
        </div>
        <!-- End demo content -->
    </html>