<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio de Sesión</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body
    
    background= "https://www.seekpng.com/png/detail/121-1212032_donante-de-sangre-png.png">

    <div class="container">
        <div style="background-color:rgba(8, 248, 236, 0.767);"class="jumbotron" style="margin-bottom:0">
        <h1 class="text-light"> Banco de Sangre</h1>
          
      <h3 class="text-light">Inicio de Sesión </h3> 
    </div>

    <div class="container">
      <form action="" method="POST" class="was-validated">
    
          <div class="form-group">
        <h3 class="text-danger">
        <label for="uname">Username:</label>
        </h3>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Por favor llene este campo.</div>
          </div>
          <div class="form-group">
        <h3 class="text-danger">
        <label for="pwd">Password:</label>
        </h3>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Por favor llene este campo.</div>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      

</body>
</html>